<app-navbar></app-navbar>

<div class="container mt-5 overflow-scroll w-60">
    <!-- Booking -->
    <table class="table table-striped">
      <thead class="head" style=" overflow-y: scroll;">
        <tr>
          <th>Action</th>
          <th >Name</th>
          <th >Date of birth</th>
          <th >Province</th>
          <th >Gender</th>
          <th>Facilitator</th>
        </tr>
      </thead>
        <tbody>
            <tr >
                <td style="width:20%">
                    <button id="decline"class="btn btn-outline-danger mt-1 mb-2">
                      Delete User
                      </button> &nbsp; 
                      <button id="accept"class="btn bg-success accept text-light">
                        Add User
                      </button>
                    </td>
                <td>Mashoto Molefe</td>
                <td>1999-03-26</td>
                <td>LIMPOPO</td>
                <td>Male</td>
                <td>Yes</td>
                </tr>
        </tbody>
    </table>
   
</div>